

:root {
  --foreground-rgb: 15, 23, 42; /* Dark Slate */
  --background-start-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  -webkit-font-smoothing: antialiased;
}

/* Marketing Trick: Focus States */
/* Helps users feel in control of where they are clicking */
a:focus, button:focus {
  outline: 2px solid #2563eb;
  outline-offset: 4px;
}